.navbar {
    box-sizing: border-box;  
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px 30px;
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;          
    width: 100%;
	height: 60px;      
	line-height: 60px;
	z-index: 1000;
    background: rgba(0, 32, 64, 0.6);
    backdrop-filter: blur(6px);
    overflow: hidden;    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 6rem;
    margin: 0;
    padding: 0;
    align-items: center; 
    
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links li a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    
}